@use "../global/variables" as *;

.button {
  padding: 14px 20px 12px;
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: $secondary-text-color;
  text-transform: uppercase;
  background: $light-bg-color;
  outline: none;
  border: none;

  @media (min-width: $tablet) {
    padding: 20px 20px 19px;
    font-size: 20px;
    line-height: normal;
  }
}
