$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-font-family: "PT Sans Narrow", "Verdana", sans-serif;

$primary-bg-color: #ffffff;
$secondary-bg-color: #292929;
$special-bg-color: #353535;

$button-color: #826550;


$link-border-color: #4A4A4A;
$link-border-color-hover: #777777;
$link-bg-color-active: #252525;

$tablet: 768px;
$desktop: 1200px;
