$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-font-family: "Lato", "Arial", sans-serif;

$primary-bg-color: #ffffff;
$secondary-bg-color: #292929;
$special-bg-color: #353535;

$tablet: 768px;
$desktop: 1200px;
