@use "global/variables" as *;
@use "global/normalize";
@use "global/visually-hidden";
@use "global/fonts";
@use "blocks/page";
@use "blocks/footer";

// @import("global/variables.less");

// Colors

$darkgrey: #292929;
$lightgrey: #f8f5f2;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// @import("global/fonts.less");


// @import("global/global.less");

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @import("blocks/page.less");

.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $lightgrey;
  color: #000000;
}

// @import("blocks/main-header.less");

.main-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;
}

.main-header__logo {
  height: 85px;

  @media (min-width: $tablet-width) {
    order: 2;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 648px;
  }
}
